<p>The Hello World Collection was started on 3-Oct-1994 as a simple text file.
After some posts on <a target="_blank" href="http://www.maus.de">a German BBS network</a>, it
was put on the World Wide Web on 30-Dec-1999 as part of a private homepage.
On 14-Sep-2014 it moved to its own domain, helloworldcollection.de, by which
time it had accumulated 21 Reddit points, 35 LinkedIn shares, 156 Google Plus's,
450 Tweets, and 1947 Facebook likes. It got its own Twitter account,
<a href="https://twitter.com/HelloWorldClctn" target="_blank">@HelloWorldClctn</a>,
on 31-Jan-2015.</p>
<p> The Collection exceeded 200 entries on 14-Jul-2005, 300 on 6-Dec-2006,
400 on 27-Jul-2008, 500 on 27-Dec-2015 (after a four-year hiatus which ended
in 2014), and 600 on 16-Apr-2020.</p>
<p>The Collection is administered as a bunch of text files which
are compiled into this single HTML file by a bash script, originally
written for Linux, then used under Cygwin on Windows, then for several years
on macOS, now on Linux again.
<p>By the way, this site is the original Hello World Collection.
Throughout the Web, you can find many copies of various versions
of this file, not all of which give proper credit to those who
compiled and contributed to it over the years. The official address
of the Hello World Collection is <a href="http://helloworldcollection.de">helloworldcollection.de</a>.</p>
