<h3>About Hello World</h3>

<ul>
  <li>
    The <a href="http://en.wikipedia.org/wiki/%22Hello,_world!%22_program">Wikipedia</a> article
    about Hello World programs.
  </li>

  <li>
    A <a href="http://stackoverflow.com/questions/602237/where-does-hello-world-come-from">discussion</a>
    about the origin of the "hello world" phrase.
  </li>

  <li>
    <a href="http://www.gnu.org/fun/jokes/helloworld.html">
    How the way people code "Hello World" varies depending on their age and job</a>
    from the GNU Humor Collection.
  </li>

  <li>
    <a href="https://gist.github.com/lava/f8732a6802988fe8d0a41bd7979a4d54">Analyzing the Hello World program</a>
	to death.
  </li>
</ul>

<h3>More Hello World Programs</h3>

<ul>
  <li>
    <a href="https://github.com/leachim6/hello-world">A github repository</a>
    collecting Hello World programs.
  </li>

  <li>
    <a href="http://www2.latech.edu/~acm/HelloWorld.shtml">Another collection</a>
    of Hello World programs, seemingly discontinued.
  </li>

  <li>
    <a href="http://c2.com/cgi/wiki?HelloWorldInManyProgrammingLanguages">A Wiki</a>
    with some interesting languages and additional information.
  </li>

  <li>
    Hello World in 180+ <a href="http://esolangs.org/wiki/Hello_world_program_in_esoteric_languages">esoteric
    programming languages</a>.
  </li>

  <li>
    A <a href="http://c2.com/cgi/wiki?HelloWorldInManyProgrammingLanguages">Wiki</a>
    with some interesting languages and additional information.
  </li>

  <li>
    The <a href="http://www.gnu.org/software/hello/">GNU Hello</a> project, a
    sophisticated C implementation of the Hello World program.
  </li>

  <li>
    A famous <a href="http://ideology.com.au/polyglot/polyglot.txt">polyglottal
    Hello World program</a> that runs in Cobol, Pascal, Fortran, C, Postscript,
    sh, Perl and x86 machine language.
  </li>

  <li>
    Another <a href="hellopics/VirtualDust.txt">polyglottal Hello World program</a>
    that runs in C, Perl, Brainf*ck and Whitespace. Submitted by Rapha&euml;l Bois.
  </li>

  <li>Contests about writing obfuscated Hello World programs:
    <a href="http://codegolf.stackexchange.com/questions/307/obfuscated-hello-world">one from 2011</a>,
    <a href="http://codegolf.stackexchange.com/questions/22533/weirdest-obfuscated-hello-world">another
      one from 2014</a>.
  </li>

  <li>
  <a href="http://www.righto.com/2016/06/hello-world-in-bcpl-language-on-xerox.html?m=1">"Hello world" in BCPL</a>
  on the Xerox Alto simulator.
  </li>

  <li>The <a href="http://www.sporcle.com/games/psychofish25/hello_world_syntax">Hello World Quiz</a>:
    Can you name the programming language based on its Hello World syntax?
  </li>

  <li>
    A <a href="https://github.com/summerstay/Hello-World-with-GPT-2">Python program that uses artifical intelligence</a>
    to generate Hello World phrases.
  </li>
</ul>

<h3>Other Ways To Say Hello World</h3>

<ul>
  <li>
    <a href="http://hello.w0r1d.net/index.html">Hello World in Semacode</a>,
    written in a wheat field.
  </li>

  <li>
    A collection of <a href="http://www.elite.net/~runner/jennifers/hello.htm">Hello
    and other greetings</a> in hundreds of human languages.
  </li>

  <li>
    A <a href="http://www.lehmanns.de/page/helloworld">paper poster</a> of the
    Hello World collection.
  </li>

  <li>
    A <a href="http://helloworldquiz.com">quiz game</a> about guessing programming
    languages from Hello World programs.
  </li>

  <li>
    <a href="https://www.heise.de/newsticker/meldung/TGIQF-das-Programmiersprachen-Quiz-Hello-World-3995341.html">#TGIQF - the programming language quiz</a>,
    by heise online (German).
  </li>

  <li>
    <a href="https://www.artsy.net/artwork/brian-kernighan-hello-world">Hello World in C</a>,
    hand-written and autographed by Brian Kernighan in 1978
  </li>
</ul>

<h3>About This Collection</h3>

<ul>
  <li>
    A <a href="http://youtu.be/bGGkcCZNHj0">video</a> explaining how the Hello World Collection is
    built and maintained.
  </li>
  <li>
    An <a href="http://notasyreflexiones.com/the-hello-world-collection-interview-wolfram-rosler/">interview</a>
    about background and history of the Hello World Collection, from
    <a href="http://notasyreflexiones.com/wp-content/uploads/2014/06/3_Rosetta_Stone.pdf">the June 2014
    edition</a> of the Italian online magazine "Notas y Reflexiones".
  </li>
  
  <li>
    <a href="https://groups.google.com/forum/#!topic/maus.sci.informatik/TlAtym5vY3w">The oldest known version</a>
    of the Hello World Collection (January 1996), and probably one of the first ones that were published on the Internet.
  </li>

  <li>
    <a href="https://web.archive.org/web/20010306170809/http://www.roesler-ac.de/wolfram/hello.htm">The oldest version</a>
    of the Hello World site in the Internet Archive (March 2000, 94 programs).
  </li>
</ul>
