<pre>Hello world in <a href="https://github.com/nasser/---">&#1602;&#1604;&#1576;</a>

&#8235;(&#1602;&#1608;&#1604; "&#1605;&#1585;&#1581;&#1576;&#1575; &#1610;&#1575; &#1593;&#1575;&#1604;&#1605;!")</pre>
