<pre>// Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Actionscript">ActionScript 3</a>. Place code in the first frame Actions.
var t:TextField=new TextField();
t.text="Hello World!";
addChild(t);</pre>
