<pre>! Hello world in <a href="https://en.wikipedia.org/wiki/SPARC">SPARC</a> Assembly Language

	.section			".data1"
	.align		4
.L16:
	.ascii   "hello world\n\0"

	.section  ".text"
	.global  main
main:
	save  %sp,-96,%sp
	set  .L16,%o0
	call  printf,1
	nop
	restore</pre>
