<p>Hello world for <a href="http://en.wikipedia.org/wiki/Automator_(software)" target="_top">Mac OS X Automator</a></p>
<p><img src="hellopics/automator.png" alt="Screenshot of Automator program"></p>
