<pre>// Hello world in <a href="https://www.beeflang.org/">Beef</a>

using System;

namespace HelloWorld
{
    class Program
    {
        static void Main()
        {
            Console.WriteLine("Hello, world!");
        }
    }
}
</pre>
