<pre>Hello World in <a href="http://en.wikipedia.org/wiki/Brainfuck" target="_top">Brainfuck</a>

++++++++++[&gt;+++++++&gt;++++++++++&gt;+++&lt;&lt;&lt;-]&gt;++.&gt;+.+++++++
..+++.&gt;++.&lt;&lt;+++++++++++++++.&gt;.+++.------.--------.&gt;+.</pre>
