<pre>-- Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Cool_(programming_language)">Cool</a>

class Main inherits IO{
    main():Object{
    out_string("Hello, world!\n")
    };
};</pre>
