<pre>\def\title{&lt;a href="/showArticle.jhtml?documentID=cuj9505wittenbe&amp;pgno=1"&gt;Listing 1&lt;/a&gt;}

@*A Simple Example.
This is a trivial example of a \.{<a href="https://en.wikipedia.org/wiki/WEB" target="_blank">CWEB</a>} program.
It is, of course, the classic "hello, world"
program we all know and love:

@c
@&lt;Header files needed by the program@&gt;@;
@#
main(void)
{
   @&lt;Print the message |"hello, world"|@&gt;@;
}

@ Naturally, we use |printf| to do the dirty work:

@&lt;Print the message |"hello, world"|@&gt;=
printf("hello, world\n");

@ The prototype for |printf| is in the standard
header, \.{&lt;stdio.h&gt;}.

@&lt;Header files needed by the program@&gt;=
#include &lt;stdio.h&gt;

@*Index.</pre>
