<pre>// Hello world in <a href="https://xtclang.blogspot.com/">Ecstasy</a>

module HelloWorld
    {
    void run()
        {
        @Inject Console console;
        console.println("Hello World!");
        }
    }</pre>
