<pre>; Hello World in <a href="http://kixtart.org" target="_top">Kix</a>
  
Run( "Notepad.exe" )
Sleep 1
SetFocus( "Untitled - Notepad" )
$ReturnCode = SendKeys("Hello World")
Sleep( 2 )
$ReturnCode = SendKeys("~{F4}Y")</pre>
