<p>Hello world in <a href="https://ru.m.wikipedia.org/wiki/%D0%9A%D1%83%D0%9C%D0%B8%D1%80_%28%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F%29">Kumir</a>. This language doesn't have comments.</p>
<pre>&#1072;&#1083;&#1075;
&#1085;&#1072;&#1095;
             &#1074;&#1099;&#1074;&#1086;&#1076; &ldquo;Hello world&rdquo;
&#1082;&#1086;&#1085;</pre>
