<pre>(* Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Modula-3">Modula-3</a> *)

MODULE Hello EXPORTS Main;

IMPORT IO;

BEGIN
 IO.Put("Hello World!\n");
END Hello.</pre>
