<pre>H* Hello world in <a href="https://en.wikipedia.org/wiki/IBM_RPG" target="_blank">RPG IV</a> versions 3 and 4

D msg             S             32    inz(*blank)
D wait            S              1

C                   eval      msg = 'Hello World'

C     msg           dsply                   wait


C                   eval      *inlr = *on</pre>
