<p>Hello world for the <a href="https://en.wikipedia.org/wiki/TI-59">TI-59</a> with thermo printer.
Comments are not part of the source code (not entered).</p>
<pre>
      Code        Comment

      LBL A       Start of program: label A
      OP 00       Clear the four print registers
      23          "H"
      17          "E"
      OP 02       Write into print register 2
      27          "L"
      27          "L"
      32          "O"
      00          " "
      43          "W"
      OP 03       Write into print register 3
      32          "O"
      35          "R"
      27          "L"
      16          "D"
      73          "!"
      OP 04       Write into print register 4
      OP 05       Start printing
      ADV         Line feed (optional)
      R/S         End program
</pre>
