<pre>// Hello world in <a href="https://en.wikipedia.org/wiki/Ubercode">Ubercode</a>

  Ubercode 1 class Hello

  public function main()
  code
    call Msgbox("Hello", "Hello World!")
  end function

  end class</pre>
